body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    gap: 2rem;
    position: fixed;
    align-items: center;
    background-color: white;
    height: 4rem;
    width: 100%;
    justify-content: space-around;
    border-bottom: 3px solid black;
    color: #5ecd32;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 400px;
    width: 400px;
    justify-content: space-around;
}

.header a{
    text-decoration: none;
    color: #5ecd32;
}

.banner{
    min-height: 100vh;
    padding-top: 5rem;
    height: fit-content;
    padding-left: 40px;
    background-color: white;
}

.banner .container{
    display: flex;
    height: 400px;
    font: 36px;
    justify-content: center;
    align-items: center;
}

.banner p{
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
}

