.banner{
    /* height: 700px;
    width: 50%; */
    /* padding-top: 4rem; */
    display: flex;
}

.esquerda{
    height: 100vh;
    width: 800px;
    /* border: 2px solid black; */
}

.esquerda .shuri{
    height: 100vh;
    width: 800px;
    background-image: url(../img/shuri.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-position-y: -250px;
    /* border: 2px solid blue; */
}